# Generate secure tokens with:
#   python -c "import secrets; print(secrets.token_hex(32))"
#
# APP_TOKEN  — used by client apps when POSTing /api/record
# MASTER_TOKEN — used by you to GET /api/stats and manage licenses

APP_TOKEN=c838d55458d7c22f9112dd12bd936226cb6566413c31beaafe79410e1b21701e
MASTER_TOKEN=ws-990654efb6208a0eb25517fd6d404dfcd53113701bae55b19ae469a9a2c62
PORT=5000
